body {
    background-size: cover;
    background-image:url('Main.gif');


}

.start-button{display: none;}
 
.sprite {
            position: absolute;

        }

        .character-option {
            display:inline-block;
            max-height: 200px;
            border:1px solid white;
        }
        .character-option:hover {
            border:1px solid grey;
        }
    